/* 全局布局样式 */
.right {
    position: absolute;
    width: 38vw;  /* 设置宽度占视窗的38% */
    height: 100vh;  /* 设置高度占视窗的100% */
    font-size: 2.5vh;  /* 设置字体大小基于视窗高度 */
    background-color: rgb(221, 221, 221);  /* 浅灰色背景 */
}

/* 每个信息块的共通样式，使用Flex布局居中内容 */
.height-1, .height-2, .height-3 {
    position: absolute;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.height-1 { top: 20vh; }  /* 第一块位置 */
.height-2 { top: 40vh; }  /* 第二块位置 */
.height-3 { top: 60vh; }  /* 第三块位置 */

/* 视频显示区域的样式 */
.jumbotron {
    background-color: #f8f9fa;  /* 浅灰色背景 */
    color: #212529;  /* 文本颜色 */
    overflow: hidden;  /* 隐藏溢出内容 */
    width: 64vh;
    height: 36vh;
    position: absolute;
    top: 50vh;
    left: 70vw;
    transform: translate(-50%, -50%);  /* 居中定位 */
}

/* 视频元素透明度设置，使其不可见 */
.input_video {
    opacity: 0;
}

/* 视频和画布的尺寸及位置设置 */
video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;  /* 圆角设置 */
}

/* 视频区域边框遮罩样式 */
.video-mask {
    position: absolute;
    width: 80vh;
    height: 45vh;
    top: 50vh;
    left: 70vw;
    transform: translate(-50%, -50%);
    border: 8px solid #000;  /* 黑色边框 */
    border-radius: 24px;
    pointer-events: none;  /* 不阻止鼠标事件 */
}

/* 背景图片样式 */
.img {
    position: absolute;
    width: 30vh;
    height: 30vh;
    top: 50vh;
    left: 70vw;
    transform: translate(-50%, -50%);
    background-image: url('../images/people.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 状态消息样式 */
.status-message {
    color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 18vh;
    left: 70vw;
    transform: translate(-50%, -50%);
}

/* 可点击和不可点击按钮的共通样式 */
.action-button, .action-button-inactive {
    width: 24vh;
    height: 8vh;
    border-radius: 4vh;
    border: none;
    cursor: pointer;
    background-color: rgb(43, 80, 161);
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5vh;
    color: white;
    position: absolute;
    top: 82vh;
    left: 70vw;
    transform: translate(-50%, -50%);
}

/* 不可点击按钮的特定样式 */
.action-button-inactive {
    background-color: grey;  /* 灰色背景表示不可点击 */
    cursor: not-allowed;  /* 鼠标样式为禁止图标 */
}
