/* 重置样式 */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 防止滚动 */
    height: 100vh; /* 全视窗高度 */
    background-image: linear-gradient(to right, #eccdb1, #dbbe94);
}
/* 背景遮罩 */
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
/* 模态框样式 */
.modal {
    width: 74%;
    height: 74%;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5); /* 初始缩放 */
    background: white;
    z-index: 2;
    transition: transform 0.5s, opacity 0.5s; /* 动画效果 */
    opacity: 0;
    border-radius: 40px;
    border: black 5px solid;
}
/* 模态框内的按钮样式 */
.close-btn {
    position: absolute;
    width: 4vw;
    height: 4vw;
    max-width: 80px;
    max-height: 80px;
    top: 2vw;
    right: 1vw;
    float: right;
    cursor: pointer;
    z-index: 3;
}
/* 模态框内的 iframe 样式 */
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* 图片样式 */
.chang-1 {
    position: absolute;
    width: 80%;
    height: auto;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.peo-1 {
    position: absolute;
    width: 6%;
    height: auto;
    top: 36%;
    left: 42%;
}
.map-1 {
    position: absolute;
    width: 6%;
    height: auto;
    top: 48%;
    left: 34%;
}
.map-2 {
    position: absolute;
    width: 6%;
    height: auto;
    top: 72%;
    left: 66%;
}
/* 图片正常状态样式 */
.map-1, .map-2 {
    transition: transform 0.3s ease; /* 平滑过渡效果 */
}

/* 图片被点击时的放大效果 */
.map-1:hover, .map-2:hover {
    transform: scale(1.5); /* 放大到120%的大小 */
}

/* 添加全局渐入动画 */
body {
    animation: fadeIn 4s ease-out 0s 1; /* 动画名称，持续时间，缓动函数，延迟时间，播放次数 */
}

/* 定义渐入动画 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



@keyframes fadeInAndPulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    16.7% { /* 6秒的淡入占总动画时间的1/6 */
        opacity: 1;
        transform: scale(1);
    }
    25%, 50%, 75%, 100% { /* 从总动画时间的25%开始周期性地放大和缩小 */
        transform: scale(1);
    }
    37.5%, 62.5%, 87.5% { /* 适当调整这些值以达到期望的效果 */
        transform: scale(1.5);
    }
}

/* 基本动画 */
.no-1, .no-2, .map-3 {
    animation: fadeInAndPulse 12s ease-out infinite;
    transition: transform 0.3s ease; /* 确保 hover 的变换过渡平滑 */
}